<hr>
<div class="centrar">

  <% @versiculo.each_with_index do |palabra, idx| %>

    <%= idx%>

    <span class="<%= palabra ==  'rey' ? 'actual' : 'letra' %>">
      <%= palabra %>
    </span>

  <% end %>

</div>
<hr>
